# Grouping and Aggregating

In [1]:
import pandas as pd

In [2]:
pd.set_option('display.max_columns', 85)

In [3]:
df = pd.read_csv('dataset/survey_results_public.csv')

In [4]:
df['ConvertedComp']

0            NaN
1            NaN
2         8820.0
3        61000.0
4            NaN
          ...
88878        NaN
88879        NaN
88880        NaN
88881        NaN
88882        NaN
Name: ConvertedComp, Length: 88883, dtype: float64

In [5]:
# Median value for a column
df['ConvertedComp'].median()

57287.0

In [8]:
# Some common statistics of all numeric columns of the DataFrame
df.describe()
# Count gives the number of  defined vals (not NaN)

,Respondent,CompTotal,ConvertedComp,WorkWeekHrs,CodeRevHrs,Age
count,88883.000000,5.594500e+04,5.582300e+04,64503.000000,49790.000000,79210.000000
mean,44442.000000,5.519014e+11,1.271107e+05,42.127197,5.084308,30.336699
std,25658.456325,7.331926e+13,2.841523e+05,37.287610,5.513931,9.178390
min,1.000000,0.000000e+00,0.000000e+00,1.000000,0.000000,1.000000
25%,22221.500000,2.000000e+04,2.577750e+04,40.000000,2.000000,24.000000
50%,44442.000000,6.200000e+04,5.728700e+04,40.000000,4.000000,29.000000
75%,66662.500000,1.200000e+05,1.000000e+05,44.750000,6.000000,35.000000
max,88883.000000,1.000000e+16,2.000000e+06,4850.000000,99.000000,99.000000

In [9]:
df['Hobbyist']

0        Yes
1         No
2        Yes
3         No
4        Yes
        ...
88878    Yes
88879     No
88880     No
88881     No
88882    Yes
Name: Hobbyist, Length: 88883, dtype: object

In [10]:
# Calculating frequency of different values of a column
df['Hobbyist'].value_counts()

Hobbyist
Yes    71257
No     17626
Name: count, dtype: int64

In [12]:
# Calculating proportion of different values frequency of a column (out of 1). (Multiply by 100 to get percentage)
df['Hobbyist'].value_counts(normalize=True)

Hobbyist
Yes    0.801694
No     0.198306
Name: proportion, dtype: float64

#### Calculating statistics for a subset of data grouped by a column
1. #### Group the data by the column
2. #### Calculate statistics

In [15]:
# Calculating frequency proportion of SocialMedia column grouped by countries
country_grp = df.groupby('Country')

In [30]:
freq_SM = country_grp['SocialMedia'].value_counts(normalize=True)  # Outputs in the form of Series
freq_SM

Country      SocialMedia
Afghanistan  Facebook                    0.405405
             YouTube                     0.243243
             I don't use social media    0.162162
             WhatsApp                    0.108108
             LinkedIn                    0.027027
                                           ...
Zimbabwe     Facebook                    0.076923
             YouTube                     0.076923
             LinkedIn                    0.051282
             Instagram                   0.051282
             Reddit                      0.025641
Name: proportion, Length: 1220, dtype: float64

In [41]:
# Calculating frequency proportion of SocialMedia column for a particular country
country_grp['SocialMedia'].get_group('India').value_counts(normalize=True)

SocialMedia
WhatsApp                    0.342379
YouTube                     0.208405
LinkedIn                    0.109355
Facebook                    0.096301
Instagram                   0.094126
Twitter                     0.062063
Reddit                      0.054162
I don't use social media    0.028627
Snapchat                    0.002634
Hello                       0.000573
WeChat 微信                   0.000573
VK ВКонта́кте               0.000458
Youku Tudou 优酷              0.000229
Weibo 新浪微博                  0.000115
Name: proportion, dtype: float64

In [29]:
# Calculating multiple statistics
country_grp['ConvertedComp'].agg(['median', 'mean'])

                                        median           mean
Country
Afghanistan                             6222.0  101953.333333
Albania                                10818.0   21833.700000
Algeria                                 7878.0   34924.047619
Andorra                               160931.0  160931.000000
Angola                                  7764.0    7764.000000
...                                        ...            ...
Venezuela, Bolivarian Republic of...    6384.0   14581.627907
Viet Nam                               11892.0   17233.436782
Yemen                                  11940.0   16909.166667
Zambia                                  5040.0   10075.375000
Zimbabwe                               19200.0   34046.666667

[179 rows x 2 columns]

In [44]:
# Calculating number of responders who have worked with Python language, grouped by countries
country_grp['LanguageWorkedWith'].apply(lambda x: x.str.contains('Python').sum())
# str function can't be applied to a SeriesGroupBy object but to a series.
# The apply function passes on each Series in the SeriesGroupBy object to the lambda function

Country
Afghanistan                              8
Albania                                 23
Algeria                                 40
Andorra                                  0
Angola                                   2
                                        ..
Venezuela, Bolivarian Republic of...    28
Viet Nam                                78
Yemen                                    3
Zambia                                   4
Zimbabwe                                14
Name: LanguageWorkedWith, Length: 179, dtype: int64

In [46]:
# Calculating number of responders who have worked with Python language, in a particular country
country_grp['LanguageWorkedWith'].get_group('Albania').str.contains('Python').sum()

23

In [64]:
# Calculating proportion of responders who have worked with Python language, grouped by countries
counts = country_grp['LanguageWorkedWith'].apply(lambda x: x.count())
# Calculates total responders in each country who have answered the LanguageWorkedWith question. (Non-null vals)
freq_Python = country_grp['LanguageWorkedWith'].apply(lambda x: x.str.contains('Python').sum()) / counts
freq_Python

Country
Afghanistan                             0.205128
Albania                                 0.277108
Algeria                                 0.317460
Andorra                                 0.000000
Angola                                  0.500000
                                          ...
Venezuela, Bolivarian Republic of...    0.321839
Viet Nam                                0.354545
Yemen                                   0.176471
Zambia                                  0.333333
Zimbabwe                                0.358974
Name: LanguageWorkedWith, Length: 179, dtype: float64

In [68]:
# Calculating proportion of responders who have worked with Python language, in a particular country
group = country_grp['LanguageWorkedWith'].get_group('Japan')
total_responders = group.count()
python_users = group.str.contains('Python').sum()
python_users/total_responders

0.4702842377260982