# Data Exporting to and Importing From Different Files

In [1]:
import pandas as pd

In [2]:
dict = {
    "email": ["CoreyMSchafer@gmail.com", "JaneDoe@gmail.com", "JohnDoe@gmail.com"],
    "first": ["Corey", "Jane", "John"],
    "last": ["Schafer", "Doe", "Doe"]
}

In [10]:
df = pd.DataFrame(dict)
df.set_index('email', inplace=True)
df

                         first     last
email
CoreyMSchafer@gmail.com  Corey  Schafer
JaneDoe@gmail.com         Jane      Doe
JohnDoe@gmail.com         John      Doe

In [11]:
# Exporting to csv file
df.to_csv('dataset/exported.csv')

In [12]:
# Exporting to tsv file
df.to_csv('dataset/exported.tsv', sep='\t')

In [13]:
# Exporting to xlsx file
df.to_excel('dataset/exported.xlsx')

In [17]:
# Importing from xlsx file
df2 = pd.read_excel('dataset/exported.xlsx')

In [18]:
df2

                     email  first     last
0  CoreyMSchafer@gmail.com  Corey  Schafer
1        JaneDoe@gmail.com   Jane      Doe
2        JohnDoe@gmail.com   John      Doe

In [36]:
# Exporting to JSON
df.to_json('dataset/exported_def.json')

In [43]:
# Reading from JSON
x = pd.read_json('dataset/exported_def.json')
x
# You can also pass the url of the file to read json from internet

                         first     last
CoreyMSchafer@gmail.com  Corey  Schafer
JaneDoe@gmail.com         Jane      Doe
JohnDoe@gmail.com         John      Doe