# Modifying Dataframes

In [1]:
import pandas as pd

In [2]:
dict = {
    "email": ["CoreyMSchafer@gmail.com", "JaneDoe@gmail.com", "JohnDoe@gmail.com"],
    "first": ["Corey", "Jane", "John"],
    "last": ["Schafer", "Doe", "Doe"]
}

In [3]:
df = pd.DataFrame(dict)
df

                     email  first     last
0  CoreyMSchafer@gmail.com  Corey  Schafer
1        JaneDoe@gmail.com   Jane      Doe
2        JohnDoe@gmail.com   John      Doe

In [4]:
# Modifying all column names
df.columns = ["email", "first_name", "last_name"]

In [5]:
df

                     email first_name last_name
0  CoreyMSchafer@gmail.com      Corey   Schafer
1        JaneDoe@gmail.com       Jane       Doe
2        JohnDoe@gmail.com       John       Doe

In [6]:
# Modifying all columns using list comprehension
df.columns = [x.upper() for x in df.columns]
df

                     EMAIL FIRST_NAME LAST_NAME
0  CoreyMSchafer@gmail.com      Corey   Schafer
1        JaneDoe@gmail.com       Jane       Doe
2        JohnDoe@gmail.com       John       Doe

In [7]:
# Replacing a substring in column names
df.columns = df.columns.str.replace('_', '-')
df

                     EMAIL FIRST-NAME LAST-NAME
0  CoreyMSchafer@gmail.com      Corey   Schafer
1        JaneDoe@gmail.com       Jane       Doe
2        JohnDoe@gmail.com       John       Doe

In [11]:
# Renaming specific columns
# Syntax: df.rename(columns={"old_column_name": "new_column_name"}, inplace=True). inpace=True to alter the original df
df.rename(columns={"FIRST-NAME": "first", "LAST-NAME": "last"}, inplace=True)

In [12]:
df

                     EMAIL  first     last
0  CoreyMSchafer@gmail.com  Corey  Schafer
1        JaneDoe@gmail.com   Jane      Doe
2        JohnDoe@gmail.com   John      Doe

In [14]:
df.columns = [x.lower() for x in df.columns]
df

                     email  first     last
0  CoreyMSchafer@gmail.com  Corey  Schafer
1        JaneDoe@gmail.com   Jane      Doe
2        JohnDoe@gmail.com   John      Doe

In [15]:
# Updating a whole row
df.loc[2] = ["JohnSmith@gmail.com", "John", "Smith"]  # Order is considered
df

                     email  first     last
0  CoreyMSchafer@gmail.com  Corey  Schafer
1        JaneDoe@gmail.com   Jane      Doe
2      JohnSmith@gmail.com   John    Smith

In [16]:
# Updating selected columns of a row by index
df.loc[ 2, ['email', 'last'] ] = ["JohnDoe@gmail.com", "Doe"]
df

                     email  first     last
0  CoreyMSchafer@gmail.com  Corey  Schafer
1        JaneDoe@gmail.com   Jane      Doe
2        JohnDoe@gmail.com   John      Doe

In [17]:
# Updating a single element by index
df.loc[ 2, 'last' ] = 'Smith'
df

                     email  first     last
0  CoreyMSchafer@gmail.com  Corey  Schafer
1        JaneDoe@gmail.com   Jane      Doe
2        JohnDoe@gmail.com   John    Smith

In [18]:
# Updating columns of a certain record
df.loc[ df['email'] == 'JohnDoe@gmail.com', 'last' ] = 'Doe'
df

                     email  first     last
0  CoreyMSchafer@gmail.com  Corey  Schafer
1        JaneDoe@gmail.com   Jane      Doe
2        JohnDoe@gmail.com   John      Doe

In [20]:
# Altering value of whole column
df['email'] = df['email'].str.lower()
df

                     email  first     last
0  coreymschafer@gmail.com  Corey  Schafer
1        janedoe@gmail.com   Jane      Doe
2        johndoe@gmail.com   John      Doe