# Filtering

In [11]:
import pandas as pd

In [12]:
dict = {
    "email": ["CoreyMSchafer@gmail.com", "JaneDoe@gmail.com", "JohnDoe@gmail.com"],
    "first": ["Corey", "Jane", "John"],
    "last": ["Schafer", "Doe", "Doe"]
}

In [13]:
df = pd.DataFrame(dict)
df

                     email  first     last
0  CoreyMSchafer@gmail.com  Corey  Schafer
1        JaneDoe@gmail.com   Jane      Doe
2        JohnDoe@gmail.com   John      Doe

In [14]:
# Defining the filter criteria
filt = df['last'] == 'Doe'

In [15]:
df.loc[filt]

               email first last
1  JaneDoe@gmail.com  Jane  Doe
2  JohnDoe@gmail.com  John  Doe

In [16]:
# Getting selected columns for the records which match the filter criteria
print('accessing first name of record which fulfilled filter criteria as a Series')
df.loc[ filt, 'first' ]

accessing first name of record which fulfilled filter criteria as a Series

1    Jane
2    John
Name: first, dtype: object

In [17]:
# Getting selected columns for the records which match the filter criteria
print('accessing first name of record which fulfilled filter criteria as a DataFrame')
df.loc[ filt, ['first'] ]

accessing first name of record which fulfilled filter criteria as a DataFrame

  first
1  Jane
2  John

- ### Filtering based on multiple conditions

In [18]:
# AND
df.loc[ (df['last'] == 'Doe') & (df['first'] == 'John')  ]

               email first last
2  JohnDoe@gmail.com  John  Doe

In [19]:
# OR
filt1 = df['last'] == 'Schafer'
filt2 = df['first'] == 'John'
df.loc[ filt1 | filt2, 'email' ]

0    CoreyMSchafer@gmail.com
2          JohnDoe@gmail.com
Name: email, dtype: object

In [20]:
# Combining OR with NOT
filt1 = df['last'] == 'Schafer'
filt2 = df['first'] == 'John'
df.loc[ ~(filt1 | filt2), 'email' ]

1    JaneDoe@gmail.com
Name: email, dtype: object